@page
@model IndexModel
@{
    ViewData["Title"] = "CiudadanoSanos";
}

<div class="text-center">
    <h1 class="display-4">CIUDADANOS SANOS</h1>
    <p>Bienvenidos a la plataforma de Consultas.</p>
</div>
